{% extends 'app/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/student/student_delete.css' %}">
{% endblock %}

{% block content %}
<h2 class="blue">All Students</h2>
<div class="add-student-wrapper">
  <a href="/students/create/" class="add-student-link">+ Add Student</a>
</div>

<ul id="student-list"></ul>

<!-- Delete Student -->
<div id="delete-modal" class="modal">
  <div class="modal-content">
    <h3>Confirm Delete</h3>
    <p>Are you sure you want to delete this student?</p>

    <form id="delete-form">
      <input type="checkbox" id="confirm-checkbox">
      <label for="confirm-checkbox">I understand this action cannot be undone.</label>

      <div class="button-group">
        <button type="button" id="cancel-delete">Cancel</button>
        <button type="submit" id="confirm-delete-btn" disabled>Delete</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/config.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/student/student_delete.js' %}"></script>
{% endblock %}